@charset "UTF-8";
/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
/* RESETEO */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* DISEÑO MOBILE FIRST (VISTA HASTA 499px) */
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* width: 100vw; */
  height: 100vh;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

body p {
  margin-bottom: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  padding: 1em;
  font-size: small;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .icon {
  color: white;
  padding: 0 1.5px;
  font-size: 1.2rem;
}

/* ESTILOS GENERALES DE LAS SECCIONES */
.main_nosotros_section, .main_productos_section, .main_servicios_section, .main_contacto_section {
  background-color: white;
}

.fab::before {
  color: white;
}

@media (min-width: 500px) {
  .footer {
    font-size: large;
  }
}

@media (min-width: 768px) {
  .fab:hover {
    -webkit-transition: 0.35s;
    transition: 0.35s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/* INDEX */
.main_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.main_index .logo_index {
  text-align: center;
}

.main_index .logo_index .logo_index_imagen {
  width: 75%;
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.main_index .secciones_index {
  padding-top: 2.5em;
  text-align: center;
}

.main_index .secciones_index .menu_nav {
  list-style: none;
  padding-bottom: 1em;
}

.main_index .secciones_index .menu_nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

@media (min-width: 500px) {
  .main_index .logo_index .logo_index_imagen {
    width: 90%;
  }
}

@media (min-width: 768px) {
  .menu_nav:hover {
    -webkit-transition: 0.35s;
    transition: 0.35s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 1024px) {
  .main_index {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main_index .logo_index .logo_index_imagen {
    width: 100%;
  }
  .main_index .secciones_index {
    padding-left: 2.5em;
    text-align: start;
  }
}

/* NOSOTROS */
.titulo_section {
  text-align: center;
  padding: 1em 0;
}

.section_nosotros {
  margin: 0 2.5em 2.5em;
}

.section_nosotros .texto_section_nosotros {
  text-align: center;
  padding-bottom: 2em;
}

.section_nosotros .imagen_container {
  text-align: center;
}

.section_nosotros .imagen_container .imagen_sectionNosotros {
  width: 350px;
  border-radius: 0.2em;
  -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (min-width: 768px) {
  .imagen_sectionNosotros {
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .main_nosotros_section {
    height: 100vh;
  }
  .main_nosotros_section .section_nosotros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 2px 4px 4px 2px #b1afaf;
            box-shadow: 2px 4px 4px 2px #b1afaf;
    margin: 0 5em 2.5em;
    padding: 1em;
  }
  .main_nosotros_section .section_nosotros .texto_section_nosotros {
    padding: 0.5em;
  }
  .main_nosotros_section .section_nosotros .imagen_sectionNosotros {
    width: 500px;
    padding: 0.5em;
  }
}

@media (min-width: 1280px) {
  .main_nosotros_section .section_nosotros .texto_section_nosotros {
    line-height: 2;
  }
}

/* PRODUCTOS */
.main_productos_section {
  padding: 0  2em;
}

.main_productos_section .infoProductos_section {
  margin-bottom: 3em;
  text-align: center;
}

.main_productos_section .section_productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.main_productos_section .section_productos .card {
  margin-bottom: 1em;
  width: 15rem;
}

.main_productos_section .section_productos .card .imagen_producto {
  -webkit-animation: swirl-in-fwd .9s ease-out both;
  animation: swirl-in-fwd .9s ease-out both;
}

@media (min-width: 768px) {
  .main_productos_section .section_productos {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
  }
  .main_productos_section .section_productos .card {
    width: 13rem;
  }
  .main_productos_section .section_productos .card .card-title {
    font-size: 1.10rem;
  }
  .main_productos_section .section_productos .card:hover {
    -webkit-transition: 0.35s;
    transition: 0.35s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (min-width: 1024px) {
  .main_productos_section .section_productos {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .main_productos_section .section_productos .card {
    margin-bottom: 1.5em;
    width: 13rem;
  }
  .main_productos_section .section_productos .card .card-title {
    font-size: 1rem;
  }
}

.main_servicios_section {
  text-align: center;
}

.main_servicios_section .section_servicios {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  margin: 2rem;
}

.main_servicios_section .section_servicios .servicio {
  -webkit-box-shadow: 2px 4px 4px 2px #f3f2f2;
          box-shadow: 2px 4px 4px 2px #f3f2f2;
}

.main_servicios_section .section_servicios .servicio .imagen_servicio {
  width: 100%;
}

.main_servicios_section .section_servicios .servicio .servicio_texto {
  padding: 1em;
}

@media (min-width: 768px) {
  .main_servicios_section .section_servicios .servicio {
    width: 75%;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1024px) {
  .main_servicios_section .section_servicios .servicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main_servicios_section .section_servicios .servicio .imagen_servicio {
    width: 50%;
  }
}

/* CONTACTO */
.main_contacto_section {
  height: 100vh;
}

.main_contacto_section .section_contacto {
  margin: 1.5rem;
}

.main_contacto_section .section_contacto #floatingTextarea2 {
  height: 195px;
}

.main_contacto_section .section_contacto .btn-dark {
  margin-top: 1em;
}

@media (min-width: 500px) {
  .main_contacto_section {
    padding: 0 3em;
  }
}

@media (min-width: 768px) {
  .main_contacto_section {
    padding: 0 4em;
  }
  .main_contacto_section .section_contacto .btn-dark:hover {
    -webkit-transition: 0.35s;
    transition: 0.35s;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/* ESTILOS DE LA NAVBAR DE BOOTSTRAP*/
.navbar {
  background-color: black;
}

.navbar .imagen_logo_nav {
  width: 10%;
}

.navbar .navbar-toggler {
  background-color: white;
}

.navbar .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-nav .nav-item {
  font-size: large;
  padding-left: 0.5em;
}

@media (min-width: 768px) {
  .nav-item:hover {
    -webkit-transition: 0.35s;
    transition: 0.35s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 1024px) {
  .navbar .imagen_logo_nav {
    width: 5%;
  }
}

/* KEYFRAMES */
/* LOGO INDEX */
@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

/* IMAGEN SECCION NOSOTROS */
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

/* IMAGEN PRODUCTOS */
@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
/*# sourceMappingURL=estilos.css.map */