/* VIEJA HOJA DE ESTILOS ANTES DE USAR SASS (NO LINKEADA EN LOS HTML'S) - PROXIMAMENTE A ELIMINAR!!! POR FAVOR NO CONSIDERAR */

/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* RESETEO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Diseño mobile first (vista hasta 499px) */

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* width: 100vw; */
    height: 100vh;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

p{
    margin-bottom: 0;
}


/* INDEX: */

/* .contenido_principal{
    width: 100vw;
    height: 100vh;
} */

.main_index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.menu_nav{
    list-style: none;
    padding-bottom: 1em;
}


.logo_index{
    text-align: center;
}

.logo_index_imagen{
    width: 75%;

    -webkit-animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;
    animation:slide-in-elliptic-top-fwd .7s cubic-bezier(.25,.46,.45,.94) both;
}


.menu_nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.secciones_index{
    padding-top: 2.5em;
    text-align: center;
}

.footer{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1em;
    font-size: small;
    align-items: center;
}

.icon{
    color: white;
    padding: 0 1.5px;
    font-size: 1.2rem;
}


@media(min-width:500px){
    .logo_index_imagen{
        width: 90%;
    }

    .footer{
        font-size: large;
    }
}


@media(min-width:768px){
    .menu_nav:hover{
        transition: 0.35s;
        cursor: pointer;
        transform: scale(1.2);
    }

    .fab:hover{
        transition: 0.35s;
        cursor: pointer;
        transform: scale(1.2);
    }
}


@media(min-width:1024px){
    .logo_index_imagen{
        width: 100%;
    }

    .main_index{
        flex-direction: row;
    }

    .secciones_index{
        padding-left: 2.5em;
        text-align: start;
    }
}


/* ESTILOS DE LA NAVBAR DE BOOTSTRAP*/

.imagen_logo_nav{
    width: 10%;
}

.navbar{
    background-color: black;
}

.navbar-toggler{
    background-color: white;
}

.navbar-nav{
    align-items: center;
}

.nav-item{
    font-size: large;
    padding-left: 0.5em;
}

@media(min-width:768px){
    .nav-item:hover{
        transition: 0.35s;
        cursor: pointer;
        transform: scale(1.2);
    }
}

@media(min-width:1024px){
    .imagen_logo_nav{
        width: 5%;
    }
}

/* ESTILOS GENERALES DE LAS SECCIONES */


.main_nosotros_section, .main_productos_section, .main_servicios_section, .main_contacto_section{
    background-color: white;
}

.fab::before{
    color: white;
}



/* SECCION: NOSOTROS */

.section_nosotros{
    margin: 0 2.5em 2.5em 2.5em;
}

.texto_section_nosotros{
    text-align: center;
    padding-bottom: 2em;
}

.titulo_section{
    text-align: center;
    padding: 1em 0;
}

.imagen_container{
    text-align: center;
}

.imagen_sectionNosotros{
    width: 350px;
    border-radius: 0.2em;

    -webkit-animation:flip-in-ver-right .5s cubic-bezier(.25,.46,.45,.94) both;
    animation:flip-in-ver-right .5s cubic-bezier(.25,.46,.45,.94) both;
}


@media(min-width:768px){
    .imagen_sectionNosotros{
        width: 600px;
    }
}

@media(min-width:1024px){
    .section_nosotros{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        box-shadow: 2px 4px 4px 2px #b1afaf;
    }

    .imagen_sectionNosotros{
        width: 500px;
        padding: 0.5em;
    }

    .main_nosotros_section{
        height: 100vh;
    }

    .texto_section_nosotros{
        padding: 0.5em;
    }
}

/* SECCION: PRODUCTOS */

.main_productos_section{
    padding: 0  2em;
}


.infoProductos_section{
    margin-bottom: 3em;
    text-align: center;
}

.section_productos{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.card{
    margin-bottom: 1em;
    width: 15rem;
}

.imagen_producto{
    -webkit-animation:swirl-in-fwd .9s ease-out both;
    animation:swirl-in-fwd .9s ease-out both;
}

@media(min-width:768px){
    .section_productos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }

    .card{
        width: 13rem;
    }

    .card-title{
        font-size: 1.10rem;
    }
}

@media(min-width:1024px){
    .section_productos{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card{
        margin-bottom: 1.5em;
        width: 13rem;
    }

    .card-title{
        font-size: 1rem;
    }
}

/* SECCION: SERVICIOS */

.section_servicios{
    display: grid;
    justify-items: center;
    margin: 2rem;

}

.main_servicios_section{
    text-align: center;
}


.imagen_servicio{
    width: 100%;
}

.servicio{
    box-shadow: 2px 4px 4px 2px rgb(243, 242, 242);
}

.servicio_texto{
    padding: 1em;
}

@media(min-width:768px){
    .servicio{
        width: 75%;
        margin-bottom: 2rem;
    }
}

@media(min-width:1024px){
    .servicio{
        display: flex;
        align-items: center;
    }

    .imagen_servicio{
        width: 50%;
    }
}

/* SECCION: CONTACTO */

.section_contacto{
    margin: 1.5rem;
}

.btn-dark{
    margin-top: 1em;
}

.main_contacto_section{
    height: 100vh;
}

#floatingTextarea2{
    height: 350px;
}

@media(min-width:500px){
    .main_contacto_section{
        padding: 0 3em;
    }

    #floatingTextarea2{
        height: 200px;
    }
}

@media(min-width:768px){
    .main_contacto_section{
        padding: 0 4em;
    }

    .btn-dark:hover{
        transition: 0.35s;
        transform: scale(1.1);
    }
}


/* KEYFRAMES DE ANIMACIONES */

/* LOGO INDEX */
@-webkit-keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}
@keyframes slide-in-elliptic-top-fwd{0%{-webkit-transform:translateY(-600px) rotateX(-30deg) scale(0);transform:translateY(-600px) rotateX(-30deg) scale(0);-webkit-transform-origin:50% 100%;transform-origin:50% 100%;opacity:0}100%{-webkit-transform:translateY(0) rotateX(0) scale(1);transform:translateY(0) rotateX(0) scale(1);-webkit-transform-origin:50% 1400px;transform-origin:50% 1400px;opacity:1}}


/* IMAGEN SECCION NOSOTROS */
@-webkit-keyframes flip-in-ver-right{0%{-webkit-transform:rotateY(-80deg);transform:rotateY(-80deg);opacity:0}100%{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}}
@keyframes flip-in-ver-right{0%{-webkit-transform:rotateY(-80deg);transform:rotateY(-80deg);opacity:0}100%{-webkit-transform:rotateY(0);transform:rotateY(0);opacity:1}}


/* IMAGEN PRODUCTOS */

@-webkit-keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}
@keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}